.book-detail {
  display: flex;
  flex-wrap: wrap;
}

.booklogo-detail {
  display: flex;
  justify-content: center;
  background: #D8D8D8;
  margin-right: 21px;
  width: 191px;
  height: 272px;
}

.bookinformation{
  display: flex;
  flex-direction: column;
  max-width: 588px;
}

.booktitle-detail {
  font-size:20px;
  font-weight: bold;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: auto;
}

.bookautor-detail {
  font-size:16px;
  font-weight: lighter;
  color: #4A4A4A;
  letter-spacing: 0px;
  line-height: 50px;
}

.bookother-detail {
  font-weight: lighter;
  font-size: 16px;
  color: #4A4A4A;
  letter-spacing: 0px;
  line-height: 30px;
}

.bookdescription-detail {
  display: flex;
  justify-content: flex-start;
  font-weight: lighter;
  font-size: 14px;
  color: #999999;
  line-height: 19px;
}

.actionbutton {
  display: flex;
  border: 0px;
  background: #00ADEE;
  width: 192px;
  height: 38px;
  font-size: 20px;
  color: #FFFFFF;
  justify-content: center;
  margin-top: auto;
}

.bookimg {
  width: 57%;
}

@media (max-width: 964px) {
    .booklogo-detail {
        margin-bottom: 21px;
    }
}
